In [54]:
import pandas as pd
import numpy as np
import keras

import warnings
warnings.filterwarnings('ignore')

Let's download the data and read it into a <em>pandas</em> dataframe.

In [55]:
filepath='https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv'
df_data = pd.read_csv(filepath)

df_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [56]:
df_data.shape

(1030, 9)

In [57]:
df_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [58]:
## No null values are present

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

In [59]:
df_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [78]:
df_columns = df_data.columns

In [79]:
X = df_data[df_columns[df_columns != 'Strength']] # all columns except Strength
y = df_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [80]:
X.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [81]:
y.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

 normalizing the data by substracting the mean and dividing by the standard deviation.

In [82]:
X_std = (X - X.mean()) / X.std()
X_std.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [83]:

n_cols = X_std.shape[1] # number of predictors
n_cols

8

<a id="item1"></a>

<a id='item32'></a>

##  Import Keras Packages

In [84]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Input
from sklearn.model_selection import train_test_split

<a id='item33'></a>

##### Building aneural network pattern

In [85]:

# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Input(shape=(n_cols,)))
    model.add(Dense(20, activation='relu'))
    model.add(Dense(20, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

<a id="item4"></a>

#### Train and Test the Network

In [86]:

# build the model
model = regression_model()

Next, we will train and test the model at the same time using the *fit* method. We will leave out 30% of the data for validation and we will train the model for 100 epochs.

In [87]:
# fit the model
### Splitting into train and test data
X_train, X_test, y_train, y_test = train_test_split(X_std, y, test_size=0.3, random_state=42)

## Splitting the training data into train and validation sets
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size = 0.2, random_state=42)

In [88]:
model.fit(X_train, y_train, validation_data = (X_val, y_val), epochs=100, verbose=2)

Epoch 1/100
18/18 - 2s - 99ms/step - loss: 1582.7188 - val_loss: 1574.7981
Epoch 2/100
18/18 - 0s - 13ms/step - loss: 1557.2666 - val_loss: 1547.3390
Epoch 3/100
18/18 - 0s - 12ms/step - loss: 1524.1846 - val_loss: 1507.8446
Epoch 4/100
18/18 - 0s - 13ms/step - loss: 1477.2673 - val_loss: 1452.0286
Epoch 5/100
18/18 - 0s - 13ms/step - loss: 1412.0493 - val_loss: 1378.0552
Epoch 6/100
18/18 - 0s - 12ms/step - loss: 1328.3962 - val_loss: 1283.1512
Epoch 7/100
18/18 - 0s - 12ms/step - loss: 1223.4703 - val_loss: 1167.8536
Epoch 8/100
18/18 - 0s - 13ms/step - loss: 1095.0060 - val_loss: 1032.8444
Epoch 9/100
18/18 - 0s - 12ms/step - loss: 948.7768 - val_loss: 878.7350
Epoch 10/100
18/18 - 0s - 13ms/step - loss: 788.4917 - val_loss: 716.7923
Epoch 11/100
18/18 - 0s - 13ms/step - loss: 629.9517 - val_loss: 565.3676
Epoch 12/100
18/18 - 0s - 12ms/step - loss: 494.1459 - val_loss: 436.4882
Epoch 13/100
18/18 - 0s - 13ms/step - loss: 384.3525 - val_loss: 348.6535
Epoch 14/100
18/18 - 0s - 13ms/step - loss: 316.4219 - val_loss: 292.1655
Epoch 15/100
18/18 - 0s - 13ms/step - loss: 275.0019 - val_loss: 261.0952
Epoch 16/100
18/18 - 0s - 12ms/step - loss: 251.7416 - val_loss: 243.6314
Epoch 17/100
18/18 - 0s - 12ms/step - loss: 237.4313 - val_loss: 232.9874
Epoch 18/100
18/18 - 0s - 12ms/step - loss: 227.3060 - val_loss: 224.4623
Epoch 19/100
18/18 - 0s - 12ms/step - loss: 218.2488 - val_loss: 218.0035
Epoch 20/100
18/18 - 0s - 11ms/step - loss: 211.0857 - val_loss: 211.9669
Epoch 21/100
18/18 - 0s - 12ms/step - loss: 204.9650 - val_loss: 207.5569
Epoch 22/100
18/18 - 0s - 12ms/step - loss: 199.1068 - val_loss: 203.3700
Epoch 23/100
18/18 - 0s - 13ms/step - loss: 194.2516 - val_loss: 200.0632
Epoch 24/100
18/18 - 0s - 12ms/step - loss: 189.1357 - val_loss: 195.7365
Epoch 25/100
18/18 - 0s - 12ms/step - loss: 184.6320 - val_loss: 191.3234
Epoch 26/100
18/18 - 0s - 13ms/step - loss: 180.6581 - val_loss: 188.9618
Epoch 27/100
18/18 - 0s - 12ms/step - loss: 176.3707 - val_loss: 186.3429
Epoch 28/100
18/18 - 0s - 13ms/step - loss: 173.0353 - val_loss: 183.6934
Epoch 29/100
18/18 - 0s - 12ms/step - loss: 169.5432 - val_loss: 180.7912
Epoch 30/100
18/18 - 0s - 12ms/step - loss: 166.5413 - val_loss: 179.5372
Epoch 31/100
18/18 - 0s - 13ms/step - loss: 163.3427 - val_loss: 176.6649
Epoch 32/100
18/18 - 0s - 13ms/step - loss: 160.6134 - val_loss: 174.3768
Epoch 33/100
18/18 - 0s - 12ms/step - loss: 158.1717 - val_loss: 172.9343
Epoch 34/100
18/18 - 0s - 13ms/step - loss: 155.7118 - val_loss: 171.0548
Epoch 35/100
18/18 - 0s - 12ms/step - loss: 153.4928 - val_loss: 169.5493
Epoch 36/100
18/18 - 0s - 12ms/step - loss: 151.2327 - val_loss: 166.9745
Epoch 37/100
18/18 - 0s - 14ms/step - loss: 149.3662 - val_loss: 166.5091
Epoch 38/100
18/18 - 0s - 12ms/step - loss: 147.3717 - val_loss: 164.5011
Epoch 39/100
18/18 - 0s - 13ms/step - loss: 145.4569 - val_loss: 162.4303
Epoch 40/100
18/18 - 0s - 12ms/step - loss: 143.8620 - val_loss: 161.1778
Epoch 41/100
18/18 - 0s - 12ms/step - loss: 142.3381 - val_loss: 161.3974
Epoch 42/100
18/18 - 0s - 13ms/step - loss: 140.8529 - val_loss: 158.2937
Epoch 43/100
18/18 - 0s - 13ms/step - loss: 139.3210 - val_loss: 158.5352
Epoch 44/100
18/18 - 0s - 13ms/step - loss: 137.7665 - val_loss: 157.2036
Epoch 45/100
18/18 - 0s - 12ms/step - loss: 136.4048 - val_loss: 155.5631
Epoch 46/100
18/18 - 0s - 12ms/step - loss: 135.0580 - val_loss: 153.6935
Epoch 47/100
18/18 - 0s - 14ms/step - loss: 133.7077 - val_loss: 154.1069
Epoch 48/100
18/18 - 0s - 13ms/step - loss: 132.6314 - val_loss: 152.7314
Epoch 49/100
18/18 - 0s - 13ms/step - loss: 131.6847 - val_loss: 152.3530
Epoch 50/100
18/18 - 0s - 13ms/step - loss: 130.8637 - val_loss: 151.2291
Epoch 51/100
18/18 - 0s - 12ms/step - loss: 129.6986 - val_loss: 149.8660
Epoch 52/100
18/18 - 0s - 13ms/step - loss: 128.9289 - val_loss: 149.4211
Epoch 53/100
18/18 - 0s - 12ms/step - loss: 127.8913 - val_loss: 149.1719
Epoch 54/100
18/18 - 0s - 11ms/step - loss: 127.2283 - val_loss: 148.2165
Epoch 55/100
18/18 - 0s - 13ms/step - loss: 126.3243 - val_loss: 147.6473
Epoch 56/100
18/18 - 0s - 12ms/step - loss: 125.3964 - val_loss: 147.1212
Epoch 57/100
18/18 - 0s - 13ms/step - loss: 124.5074 - val_loss: 146.5062
Epoch 58/100
18/18 - 0s - 14ms/step - loss: 123.7135 - val_loss: 146.1878
Epoch 59/100
18/18 - 0s - 14ms/step - loss: 123.0073 - val_loss: 143.9187
Epoch 60/100
18/18 - 0s - 13ms/step - loss: 122.2551 - val_loss: 144.4005
Epoch 61/100
18/18 - 0s - 13ms/step - loss: 121.1527 - val_loss: 143.4522
Epoch 62/100
18/18 - 0s - 13ms/step - loss: 120.7848 - val_loss: 142.8331
Epoch 63/100
18/18 - 0s - 13ms/step - loss: 119.7530 - val_loss: 141.8736
Epoch 64/100
18/18 - 0s - 13ms/step - loss: 119.1532 - val_loss: 141.1155
Epoch 65/100
18/18 - 0s - 12ms/step - loss: 118.3869 - val_loss: 142.1865
Epoch 66/100
18/18 - 0s - 12ms/step - loss: 117.7106 - val_loss: 139.8239
Epoch 67/100
18/18 - 0s - 13ms/step - loss: 116.7547 - val_loss: 139.7830
Epoch 68/100
18/18 - 0s - 14ms/step - loss: 116.4046 - val_loss: 138.9930
Epoch 69/100
18/18 - 0s - 13ms/step - loss: 115.2979 - val_loss: 139.2567
Epoch 70/100
18/18 - 0s - 13ms/step - loss: 114.6725 - val_loss: 137.7430
Epoch 71/100
18/18 - 0s - 13ms/step - loss: 114.2857 - val_loss: 138.6082
Epoch 72/100
18/18 - 0s - 12ms/step - loss: 113.7482 - val_loss: 135.9616
Epoch 73/100
18/18 - 0s - 12ms/step - loss: 112.9399 - val_loss: 137.2877
Epoch 74/100
18/18 - 0s - 12ms/step - loss: 112.2568 - val_loss: 136.1574
Epoch 75/100
18/18 - 0s - 13ms/step - loss: 111.8645 - val_loss: 136.6024
Epoch 76/100
18/18 - 0s - 13ms/step - loss: 111.0181 - val_loss: 134.7536
Epoch 77/100
18/18 - 0s - 12ms/step - loss: 110.2170 - val_loss: 133.9455
Epoch 78/100
18/18 - 0s - 12ms/step - loss: 109.7948 - val_loss: 134.2683
Epoch 79/100
18/18 - 0s - 13ms/step - loss: 109.1011 - val_loss: 133.9565
Epoch 80/100
18/18 - 0s - 12ms/step - loss: 108.4631 - val_loss: 132.7241
Epoch 81/100
18/18 - 0s - 13ms/step - loss: 107.9312 - val_loss: 132.1457
Epoch 82/100
18/18 - 0s - 13ms/step - loss: 107.4245 - val_loss: 132.1691
Epoch 83/100
18/18 - 0s - 12ms/step - loss: 106.7571 - val_loss: 131.3360
Epoch 84/100
18/18 - 0s - 12ms/step - loss: 106.4314 - val_loss: 130.8787
Epoch 85/100
18/18 - 0s - 11ms/step - loss: 105.6555 - val_loss: 129.4880
Epoch 86/100
18/18 - 0s - 12ms/step - loss: 105.2477 - val_loss: 130.3928
Epoch 87/100
18/18 - 0s - 13ms/step - loss: 104.7206 - val_loss: 128.6812
Epoch 88/100
18/18 - 0s - 12ms/step - loss: 103.5330 - val_loss: 128.5522
Epoch 89/100
18/18 - 0s - 11ms/step - loss: 102.8941 - val_loss: 127.7039
Epoch 90/100
18/18 - 0s - 13ms/step - loss: 102.2594 - val_loss: 126.4112
Epoch 91/100
18/18 - 0s - 13ms/step - loss: 101.5776 - val_loss: 127.0900
Epoch 92/100
18/18 - 0s - 12ms/step - loss: 100.9305 - val_loss: 124.9566
Epoch 93/100
18/18 - 0s - 13ms/step - loss: 100.1994 - val_loss: 125.9722
Epoch 94/100
18/18 - 0s - 13ms/step - loss: 99.6200 - val_loss: 124.5211
Epoch 95/100
18/18 - 0s - 12ms/step - loss: 98.7989 - val_loss: 123.6880
Epoch 96/100
18/18 - 0s - 12ms/step - loss: 98.0186 - val_loss: 122.7866
Epoch 97/100
18/18 - 0s - 12ms/step - loss: 97.3060 - val_loss: 122.1661
Epoch 98/100
18/18 - 0s - 12ms/step - loss: 96.5990 - val_loss: 121.0238
Epoch 99/100
18/18 - 0s - 12ms/step - loss: 95.6292 - val_loss: 121.0886
Epoch 100/100
18/18 - 0s - 12ms/step - loss: 95.0107 - val_loss: 119.0988

In [89]:
test_loss = model.evaluate(X_test, y_test, verbose=2)

print(f"Test Loss (MSE): {test_loss}")

10/10 - 0s - 11ms/step - loss: 105.8367
Test Loss (MSE): 105.8366928100586

In [90]:
X_train.mean()

Cement                0.008300
Blast Furnace Slag   -0.016204
Fly Ash               0.011703
Water                 0.006248
Superplasticizer      0.000237
Coarse Aggregate      0.014261
Fine Aggregate       -0.013141
Age                   0.009636
dtype: float64

In [107]:

### Developing a 5 layer network with 50 nodes in each hidden layer

def reg_model():
    model = Sequential()
    model.add(Input(shape = (n_cols,)))
    model.add(Dense(50, activation = 'relu'))
    model.add(Dense(50, activation = 'relu'))
    model.add(Dense(50, activation = 'relu'))
    model.add(Dense(50, activation = 'relu'))
    model.add(Dense(50, activation = 'relu'))
    model.add(Dense(1))

    model.compile(optimizer= 'adam', loss = 'mean_squared_error')
    return model

In [108]:

model = reg_model()

model.fit(X_train, y_train,  epochs = 70, validation_data = (X_val, y_val), verbose= 2)

Epoch 1/70
18/18 - 3s - 168ms/step - loss: 1553.9705 - val_loss: 1494.6523
Epoch 2/70
18/18 - 0s - 13ms/step - loss: 1298.2616 - val_loss: 969.9628
Epoch 3/70
18/18 - 0s - 12ms/step - loss: 511.9559 - val_loss: 404.4744
Epoch 4/70
18/18 - 0s - 13ms/step - loss: 274.1971 - val_loss: 240.4105
Epoch 5/70
18/18 - 0s - 13ms/step - loss: 215.0773 - val_loss: 213.7638
Epoch 6/70
18/18 - 0s - 13ms/step - loss: 192.9913 - val_loss: 202.9961
Epoch 7/70
18/18 - 0s - 13ms/step - loss: 178.6821 - val_loss: 193.5481
Epoch 8/70
18/18 - 0s - 16ms/step - loss: 165.8596 - val_loss: 187.8308
Epoch 9/70
18/18 - 0s - 17ms/step - loss: 158.0285 - val_loss: 173.1501
Epoch 10/70
18/18 - 0s - 14ms/step - loss: 145.8719 - val_loss: 169.3946
Epoch 11/70
18/18 - 0s - 12ms/step - loss: 138.1277 - val_loss: 160.9310
Epoch 12/70
18/18 - 0s - 13ms/step - loss: 124.4787 - val_loss: 150.6331
Epoch 13/70
18/18 - 0s - 13ms/step - loss: 114.1429 - val_loss: 139.8368
Epoch 14/70
18/18 - 0s - 11ms/step - loss: 104.5070 - val_loss: 130.2415
Epoch 15/70
18/18 - 0s - 13ms/step - loss: 96.4656 - val_loss: 124.3758
Epoch 16/70
18/18 - 0s - 13ms/step - loss: 84.3736 - val_loss: 110.5018
Epoch 17/70
18/18 - 0s - 13ms/step - loss: 77.3639 - val_loss: 104.1110
Epoch 18/70
18/18 - 0s - 14ms/step - loss: 69.6398 - val_loss: 98.6260
Epoch 19/70
18/18 - 0s - 14ms/step - loss: 64.2434 - val_loss: 88.8329
Epoch 20/70
18/18 - 0s - 12ms/step - loss: 60.0995 - val_loss: 84.3367
Epoch 21/70
18/18 - 0s - 13ms/step - loss: 54.1364 - val_loss: 80.9764
Epoch 22/70
18/18 - 0s - 13ms/step - loss: 51.8722 - val_loss: 75.9239
Epoch 23/70
18/18 - 0s - 13ms/step - loss: 47.0057 - val_loss: 77.4104
Epoch 24/70
18/18 - 0s - 13ms/step - loss: 48.8847 - val_loss: 78.0272
Epoch 25/70
18/18 - 0s - 13ms/step - loss: 43.0368 - val_loss: 70.4442
Epoch 26/70
18/18 - 0s - 13ms/step - loss: 42.6521 - val_loss: 64.2599
Epoch 27/70
18/18 - 0s - 13ms/step - loss: 39.9959 - val_loss: 65.3348
Epoch 28/70
18/18 - 0s - 13ms/step - loss: 38.2253 - val_loss: 61.4631
Epoch 29/70
18/18 - 0s - 12ms/step - loss: 36.8484 - val_loss: 60.4120
Epoch 30/70
18/18 - 0s - 12ms/step - loss: 35.4520 - val_loss: 61.1246
Epoch 31/70
18/18 - 0s - 12ms/step - loss: 33.9591 - val_loss: 60.6110
Epoch 32/70
18/18 - 0s - 13ms/step - loss: 34.1143 - val_loss: 56.8078
Epoch 33/70
18/18 - 0s - 13ms/step - loss: 32.4987 - val_loss: 60.0908
Epoch 34/70
18/18 - 0s - 12ms/step - loss: 32.5124 - val_loss: 53.8927
Epoch 35/70
18/18 - 0s - 12ms/step - loss: 30.9007 - val_loss: 55.4435
Epoch 36/70
18/18 - 0s - 13ms/step - loss: 32.7937 - val_loss: 52.3385
Epoch 37/70
18/18 - 0s - 11ms/step - loss: 29.5159 - val_loss: 57.3601
Epoch 38/70
18/18 - 0s - 11ms/step - loss: 30.7841 - val_loss: 53.6235
Epoch 39/70
18/18 - 0s - 11ms/step - loss: 32.1048 - val_loss: 50.4279
Epoch 40/70
18/18 - 0s - 11ms/step - loss: 30.0664 - val_loss: 54.0812
Epoch 41/70
18/18 - 0s - 12ms/step - loss: 28.2766 - val_loss: 52.2802
Epoch 42/70
18/18 - 0s - 13ms/step - loss: 29.5095 - val_loss: 49.5337
Epoch 43/70
18/18 - 0s - 11ms/step - loss: 26.9656 - val_loss: 47.8580
Epoch 44/70
18/18 - 0s - 12ms/step - loss: 26.2181 - val_loss: 48.8057
Epoch 45/70
18/18 - 0s - 14ms/step - loss: 26.6756 - val_loss: 49.2981
Epoch 46/70
18/18 - 0s - 13ms/step - loss: 25.1043 - val_loss: 46.6749
Epoch 47/70
18/18 - 0s - 14ms/step - loss: 26.5402 - val_loss: 45.6860
Epoch 48/70
18/18 - 0s - 13ms/step - loss: 24.3730 - val_loss: 46.2146
Epoch 49/70
18/18 - 0s - 13ms/step - loss: 24.4464 - val_loss: 47.7308
Epoch 50/70
18/18 - 0s - 13ms/step - loss: 24.3911 - val_loss: 45.5721
Epoch 51/70
18/18 - 0s - 13ms/step - loss: 23.8643 - val_loss: 43.6867
Epoch 52/70
18/18 - 0s - 13ms/step - loss: 24.7212 - val_loss: 46.6984
Epoch 53/70
18/18 - 0s - 13ms/step - loss: 24.6215 - val_loss: 45.2344
Epoch 54/70
18/18 - 0s - 13ms/step - loss: 25.3028 - val_loss: 47.0072
Epoch 55/70
18/18 - 0s - 14ms/step - loss: 21.8910 - val_loss: 41.2975
Epoch 56/70
18/18 - 0s - 13ms/step - loss: 22.5006 - val_loss: 42.8601
Epoch 57/70
18/18 - 0s - 13ms/step - loss: 22.1004 - val_loss: 44.1142
Epoch 58/70
18/18 - 0s - 14ms/step - loss: 20.8804 - val_loss: 41.5064
Epoch 59/70
18/18 - 0s - 15ms/step - loss: 19.4450 - val_loss: 41.0019
Epoch 60/70
18/18 - 0s - 13ms/step - loss: 19.6518 - val_loss: 41.2383
Epoch 61/70
18/18 - 0s - 14ms/step - loss: 19.6398 - val_loss: 48.4469
Epoch 62/70
18/18 - 0s - 13ms/step - loss: 22.3834 - val_loss: 38.9441
Epoch 63/70
18/18 - 0s - 13ms/step - loss: 19.0342 - val_loss: 41.6017
Epoch 64/70
18/18 - 0s - 13ms/step - loss: 18.6616 - val_loss: 38.2889
Epoch 65/70
18/18 - 0s - 13ms/step - loss: 19.4161 - val_loss: 41.9286
Epoch 66/70
18/18 - 0s - 13ms/step - loss: 19.0371 - val_loss: 37.1086
Epoch 67/70
18/18 - 0s - 13ms/step - loss: 17.5696 - val_loss: 40.1651
Epoch 68/70
18/18 - 0s - 14ms/step - loss: 17.7160 - val_loss: 38.5644
Epoch 69/70
18/18 - 0s - 13ms/step - loss: 17.5813 - val_loss: 36.6920
Epoch 70/70
18/18 - 0s - 14ms/step - loss: 18.9358 - val_loss: 38.3196

In [112]:
## On training data 
train_loss = model.evaluate(X_train, y_train, verbose=2)

print(f"Train Loss (MSE): {train_loss}")

18/18 - 0s - 7ms/step - loss: 16.1640
Train Loss (MSE): 16.16401481628418

In [110]:
test_loss = model.evaluate(X_test, y_test, verbose=2)

print(f"Test Loss (MSE): {test_loss}")

10/10 - 0s - 39ms/step - loss: 42.8469
Test Loss (MSE): 42.846920013427734

In [114]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(576, 8)
(309, 8)
(576,)
(309,)

In [121]:
X_new = np.random.uniform(-1, 1, (10, 8))

print(X_new[:10])

print()
print()
model.predict(X_new)

[[-0.0089171  -0.22884755  0.11022199 -0.81701182 -0.36030313  0.6604747
   0.45958964 -0.68247138]
 [-0.14079756  0.52228693  0.6780087  -0.46588226 -0.17071175 -0.68316824
   0.9911349   0.90726789]
 [-0.15642022 -0.28398306  0.90154867 -0.20179677 -0.04814134  0.27511358
  -0.46390098  0.97237378]
 [-0.29048665  0.95625696 -0.35924229  0.89446685 -0.95335604  0.50844716
   0.01918683 -0.65932801]
 [-0.01916932  0.10789008 -0.3361053   0.04126553  0.20704575  0.42765103
   0.08689653 -0.17766041]
 [-0.56526014 -0.21673904  0.9256888   0.33295119  0.72571868  0.9422541
  -0.09437202 -0.74084936]
 [ 0.0023322   0.92338577  0.46228383  0.71616365 -0.00163412 -0.04363412
   0.90065183 -0.80468663]
 [-0.44725405 -0.8897387  -0.07155872  0.77423948  0.64407104  0.26119188
  -0.85041613  0.85330676]
 [ 0.26801402 -0.13952812  0.02672863 -0.90567728  0.36106811  0.37306503
  -0.2986475   0.90301636]
 [ 0.0299281   0.99539147  0.61436061 -0.10500046  0.52972249 -0.15955123
   0.53864152 -0.34474985]]


1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 76ms/step

array([[17.80837 ],
       [59.86253 ],
       [51.541992],
       [26.070818],
       [44.073936],
       [14.256024],
       [33.939285],
       [30.402847],
       [58.755474],
       [56.568436]], dtype=float32)